extends layout2

block content
  .content
    h1 Cadastro de Produto
    form.pure-form.pure-form-stacked(action="/cadastro-produto", method="POST")
      fieldset
        label(for="nome") Nome do Produto:
        input(type="text", id="nome", name="nome", required)
        label(for="descricao") Descrição:
        input(type="text", id="descricao", name="descricao", required)
        label(for="preco") Preço:
        input(type="number", step="0.01", id="preco", name="preco", required)
        button.pure-button.pure-button-primary(type="submit") Cadastrar Produto
